<div class="content {{content_classes}} {{ content_small ? 'content--small' : '' }} {{ content_lead ? 'content--lead' : '' }} {{ content_single_lead ? 'content--single-lead' : '' }} {{ text_white ? 'text-white' : ''}}">
	{% include 'atoms/heading/sub-title.twig' %}
	{% if heading_type %}
		{% include "molecules/heading.twig" %}
	{% endif %}
	{% include 'atoms/content.twig' with {content_classes} %}
	{% include 'molecules/buttons.twig' with {button_classes} %}
</div>
