{% if not slide_content %}
	{% set slide_content = 'molecules/product-card.twig' %}
{% endif %}



<div class="relative slider" data-swiper="{{ swiper_options }}">
	<div class="swiper {{ flow ? 'swiper--visible' : '' }} {{ overflow ? 'clip-slider-overflow' : ''}} {{ classes }}">
		<div class="swiper-wrapper">
			{% for slide in slides %}
				<div class="swiper-slide {{ slide_classes }}">
					{% include slide_content with slide %}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="absolute bottom-1 left-1/2 -translate-x-1/2 mt-12 flex gap-9 items-center z-10 {{ swiper_navigation ? 'justify-center' : 'justify-end'}}">
		{% if button %}
			{% include "atoms/button.twig" with button %}
		{% endif %}
		<div class="swiper-button-prev {{ background_image ? 'be-white' : '' }}"></div>
		{% if swiper_navigation %}
			<div class="swiper-pagination {{ background_image ? 'be-white' : '' }}"></div>
		{% endif %}
		<div class="swiper-button-next {{ background_image ? 'be-white' : '' }}"></div>
	</div>
</div>
