<section id="{{ anchor }}" class="{{ class_name }}" style="{{ style|raw }}">
	<div class="{{ container|default('container') }}">
		<div class="pb-4 {{ font_color }}">
			{{ yoast_breadcrumb()|raw }}
		</div>
	</div>
</section>
