<section class="form-complex {{ margin }}">
    <div class="container">
        <div class="flex">

        <div class="w-full lg:w-5/12">
            {% if locations %}
            <div class="flex flex-col mt-20">
                {% for location in locations %}
                    <div class="flex flex-col gap-2">
                            {% include "atoms/heading/h6.twig" with {title: location.name, class: 'mb-0'} %}
                            {% include "molecules/icon-link.twig" with {url: 'tel:'~ location.phone, icon: 'phone', title: location.phone, class: 'text-primary', text_color: 'text-font'} %}
                            {% include "molecules/icon-link.twig" with {url: 'mailto:'~ location.email, icon: 'mail', title: location.email, class: 'text-primary', text_color: 'text-font'} %}
                           
                            <div class="no-underline group grid grid-cols-[24px_1fr] gap-4 {{class}}">
                                {% include 'atoms/icon.twig' with {icon: 'location_on', color: 'text-primary'} %}
                                <span class="group-hover:underline {{text_color}}">
                                    {{location.address|raw}}
                                </span>
                            </div>

                            <a class="ml-10" href="{{location.address_link.url}}" target="{{location.address_link.target}}">{{location.address_link.title}}</a>

                            {% include "atoms/hr.twig" with {margin: 'my-4', color: 'border-neutral-25'} %}

                    </div>
                {% endfor %}
                </div>
            {% endif %}


            <span class="mb-2 block font-light">{{'Volg ons'|translatable}}</span>
             <div class="flex flex-row gap-5">
                {% for social, link in socials %}
                    {% if link %}
                        {% include "atoms/social-link.twig" with {url: link.url, color: 'fill-primary', media: social, size: '32', hide_title: 1} %}
                    {% endif %}
                {% endfor %}
            </div>
            

        </div>
        
        
            <div class="full lg:w-7/12">
                <div class="lg:col-start-7 relative">
                    {% include 'molecules/form-card.twig' with {float: false, title: title, sub_title: sub_title, card_class: '-translate-y-[100px] bg-white'} %}
                </div>
            </div>


        </div>
    </div>
</section>
